.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003550;
    padding: 2rem;
    margin: auto;
    height: 86vh;
    color: white;
}

.header_main {
    font-size: 4rem;
    width: 40rem;
}

.header_less {
    font-size: 1.5rem;
    margin-top: 1rem
}