.container {
    border:1px solid #ccc;
    border-radius: 20px;
    padding: 2rem;
    margin: 10px;
    width:18rem;
}

.header{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.header_logo{
    width: 50px;
}

.header_text{
    display: flex;
    flex-direction: column;
}

.header_text__title {
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.features {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    margin-top: 1rem; 
    font-weight: bold;
}

.features {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    margin-top: 1rem; 
    font-weight: bold;    
}

.features_logo {
    width: 20px
}

.button_container {
    display: flex; 
    justify-content: center;    
    margin-top: 2rem;
}

.button {
    background-color: #0AB682; 
    color: white; 
    border-radius: 40px;
    padding:10px 90px;
    font-size: 1.2rem;
}

.button:hover {
    cursor: pointer;
    background-color:white;
    color:  #0AB682;
    border-radius: 40px; 
    padding:10px 90px;
    font-size: 1.2rem;
}

.button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}